- **Legenda:**
![](/LOM3260/assets/images/legenda/ifthenelse.jpg){: title="decisão" width="20px"}: decisão;
![](/LOM3260/assets/images/legenda/loop.png){: title="repetição" width="20px"}: repetição;
![](/LOM3260/assets/images/legenda/function.png){: title="função" width="20px"}: função;
![](/LOM3260/assets/images/legenda/dict.png){: title="dicionário" width="35px"}: dicionários;
![](/LOM3260/assets/images/legenda/list.png){: title="lista" width="20px"}: listas;
![](/LOM3260/assets/images/legenda/string.jpg){: title="string" width="30px"}: *strings*;
![](/LOM3260/assets/images/legenda/recursion.png){: title="string" width="25px"}: recursão.
