<!-- I got these buttons from simplesharebuttons.com -->
<div id="share-buttons">

    <!-- Email -->
    <a id="no-ext-link" href="mailto:?Subject=Computação Científica em Python&amp;Body=Gostaria de compartilhar essa página com você: {{site.url}}{{site.baseurl}}{{page.url}}">
        <img src="{{site.baseurl}}/assets/images/buttons/email.png" title="Mandar por email" />
    </a>

    <!-- Twitter -->
    <a id="no-ext-link" href="https://twitter.com/share?url={{site.url}}{{site.baseurl}}{{page.url}}&amp;text={{page.title}}&amp;hashtags={{site.title}}" target="_blank">
        <img src="{{site.baseurl}}/assets/images/buttons/twitter.png" title="Compartilhar no Twitter" />
    </a>
    
</div>
